/* Paleta boja koje ćemo koristiti na našem sajtu*/
/* #F26968(RUBY GRAPEFRUIT) #F2AD9F(rosa) #DFE2D2(LIMESTONE) #6CBF84(VENICE) #323339(MOSS RIVER)*/

body{
	background:#DFE2D2;
	margin:0 auto;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
#header{
	background:#F26968;
	color:#323339;
	text-align:center;
	padding:5px;
	display:block;
}
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}
#nav{
	background:#F2AD9F;
	font-size:20px;
	width:100vw;        /*jebote koje stelovanje širine*/
}
#nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:flex;
}
#nav li {
	margin: 0 auto;
}
#nav a {
	text-decoration:none;
	color:#323339;
}
#nav a:hover {
	background-color:#6CBF84;
}
button {
	display:none;
	cursor: pointer;
	align-self: flex-start;
}

/*promena layout-a za nav bar za sve ekrane koji su siroki ili jednaki 500px*/
@media only screen and (max-width: 500px) {
  /*prikazivanje elemenata u koloni*/
  ul{
    flex-direction: column;
  }
  
  /* briše margine na top ili bottom od a taga*/
  li{
    margin: 0;
  }
 /* makes sure that the a tag will take the entire screen*/
  a{
    display: block;
  }

  button{
    /*dugme je opet vidljivo*/
    display: block;
	padding: 2vw;
    font-size: 3vh;
    background-color: #F2AD9F;
    border: none;
    /*outline none removes the default blue border that appears anytime you click on the button*/
    outline: none;
	cursor: pointer;
	align-self: flex-start;
  }
  
}
#o_nama{
	margin: 2vw;
}

  /*flex-box*/
.container{
	margin:10px;
	padding:10px;
	background-color:#F2AD9F;
	display: flex;
	flex-flow: row wrap;
}
.sat{
	width:315px;
	height:400px;
	margin:5px;
	border:solid #6CBF84 1px;
	border-radius: 4px;
}
.sat img{
	float:left;
	margin-right:10px;
	width:200px;
}

/* Forma Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #6CBF84;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/* Style the submit button */
input[type=submit] {
  background-color: #6CBF84;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 4px;
}
/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 4px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#footer{
	background:#6CBF84;
	text-align:center;
}
#footer a{
	text-decoration:none;
	color:black;
}